.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

@each $breakpoint, $value in $grid-breakpoints {
  .hide-on-#{$breakpoint} {
    @include media-breakpoint-down($breakpoint) {
      display: none !important;
    }
  }
}

.ellipsis-text {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
