$primary: #7436ff;

$border-radius: 0;
$popover-border-radius: 0;

$accordion-button-active-bg: #fff;
$accordion-button-active-color: #212529;
$accordion-button-focus-box-shadow: none;
$accordion-body-padding-y: 0;

$list-group-border-width: 0;
$list-group-active-color: #212529;
$list-group-active-bg: #e9ecef;

$modal-content-border-radius: 0;

:root {
  --plyr-color-main: #7436ff;
}
