$primary: #7436ff;
$warning: #e4a11b;

$border-radius: 0;
$popover-border-radius: 0;

$enable-negative-margins: true;

$accordion-button-active-bg: #fff;
$accordion-button-active-color: #212529;
$accordion-button-focus-box-shadow: none;
$accordion-body-padding-y: 0;

$list-group-border-width: 0;
$list-group-active-color: #212529;
$list-group-active-bg: #e9ecef;

$form-select-focus-border-color: #000;
$form-select-border-color: 1px solid #000;
$form-select-focus-box-shadow: none;

$modal-content-border-radius: 0;

:root {
  --plyr-color-main: #7436ff;
}
