@import 'bootstrap';
@import 'utilities';

// Components
@import 'components/avatar';
@import 'components/buttons';
@import 'components/search';
@import 'components/dropdowns';
@import 'components/navs';
@import 'components/plyr';
@import 'components/dataTable';
@import 'components/sidebar';
@import 'components/instructorProfile';
@import 'components/instructorCourse';
@import 'components/courseDetail';
@import 'components/ratedStart';
@import 'components/courseCard';

// Layouts
@import 'layouts/instructor';
@import 'layouts/course';
@import 'layouts/home';

// Pages
