<div>
  {{!-- Header --}}
  <div class="w-100 bg-dark py-5"  style="height: 500px">
    <div class="container w-50 h-70 bg-white" >
      {{!-- Breadcrumb --}}
      <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb" id="course-breadcrumb">
          </ol>
        </nav>
      </div>
    </div>
  </div>

  {{!-- Body --}}
  <div>

  </div>
</div>

<script src="/js/course/index.js"></script>