{{> studentHeaderCourse}}

<div class="container mx-auto">
    <div class="input-group mt-4">
        <div class="form-outline">
            <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search"/>
        </div>
        <button id="search-button" type="button" class="btn btn-dark">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div class="row">
        {{!-- TODO: Add courses here --}}
        <div class="col-3 mt-4">
            <div class="card position-relative">
                <div class="position-absolute" style="top: 10px; right: 10px">
                    <button type="button" class="btn btn-light">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                </div>
                <a href="#" >
                    <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a class="card-title fw-bold fs-3" style="color:black; text-decoration:none; cursor:pointer;">Title</a>
                    <p class="card-text fs-6 fw-light">Owner</p>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {{!-- TODO: Add complete percentage --}}
                    <p>% complete</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const searchButton = document.getElementById('search-button');
    const searchInput = document.getElementById('search-input');
    searchButton.addEventListener('click', () => {
    const inputValue = searchInput.value;
    alert(inputValue);
    });
</script>