{{> studentHeaderCourse}}

<div class="container mx-auto">
   <div class="row mt-4">
      {{!-- TODO: Add courses here --}}
      <div class="col-3 mt-5">
         <div class="card">
            <a href="#">
               <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" class="card-img-top" alt="...">
            </a>
            <div class="card-body overflow-hidden">
               <a class="card-title fw-bold fs-5" style="color: black; text-decoration: none">Title</a>
               <p class="card-text fs-6 fw-light">Owner</p>
               <div class="rated-stars">
                  <div class="star-ratings-css" data-rate="3.5"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>