{{> studentHeaderCourse}}

<div class="container mx-auto">
   <div class="row mt-4">
      {{!-- TODO: Add courses here --}}
      <div class="col-3 mt-5">
         <div class="card">
            <a href="#">
               <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
               <a class="card-title fw-bold fs-5 text-dark" style="text-decoration: none">Title</a>
               <p class="card-text fs-6 fw-light text-muted">Owner</p>
               <div class="d-flex align-items-center">
                  <span class = "card-text fs-6" style="color: orange;">4 &nbsp</span>
                  <span class = "fa fa-star checked"></span>
                  <span class = "fa fa-star checked"></span>
                  <span class = "fa fa-star checked"></span>
                  <span class = "fa fa-star checked"></span>
                  <span class = "fa fa-star unchecked">&nbsp</span>
                  <span class = "card-text fs-6 text-black-50">(123)</span>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>