<div
  class='row flex-grow-1 d-flex align-items-center justify-content-center m-0'
>
  <div class='col-sm-9 col-md-7 col-lg-6 col-xl-5 col-xxl-4'>
    <div class='card border-0 shadow-lg rounded-3'>
      <div class='card-body p-4 p-sm-5'>
        <h3 class='card-title text-center mb-4'>Log in</h3>
        <form id='frm-login' method='post' novalidate>
          <div class='form-floating mb-3'>
            <input
              type='email'
              class='form-control'
              name='email'
              placeholder='name@example.com'
              required='required'
              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
              autofocus
            />
            <label for='email'>
              Email address

              <span class='text-danger'>*</span>
            </label>
            <div class='invalid-feedback'>Please enter a valid email address</div>
          </div>

          <div class='form-floating mb-3'>
            <input
              type='password'
              class='form-control'
              name='password'
              placeholder='Password'
              minlength='8'
              required='required'
            />
            <label for='password'>
              Password

              <span class='text-danger'>*</span>
            </label>
            <div class='invalid-feedback'>
              Password must be at least 8 characters
            </div>
          </div>

          <div class='row mb-3 g-0'>
            <div class='col'>
              <div class='form-check'>
                <input
                  id='rememberMe'
                  class='form-check-input no-validate'
                  type='checkbox'
                  name='rememberMe'
                  value='true'
                />
                <label class='form-check-label' for='rememberMe'>
                  Remember me
                </label>
              </div>
            </div>

            <div class='col text-end'>
              <a class='btn btn-link btn-sm p-0' href='/forgot-password'>Forgot
                password?</a>
            </div>
          </div>

          {{#if error}}
            <div class='alert alert-danger' role='alert'>
              {{error}}
            </div>
          {{/if}}

          {{#if success}}
            <div class='alert alert-success' role='alert'>
              {{success}}
            </div>
          {{/if}}

          <button
            id='btn-login'
            class='btn btn-primary fs-6 fw-bold py-3 w-100'
          >
            Log in
          </button>
        </form>

        <div class='text-center mt-4'>
          Don't have an account yet?
          <a href='/register'>Register</a>
        </div>

        <div class='d-flex justify-content-center gap-3 mt-4'>
          <button class='btn p-0 rounded-circle'>
            <img src='/assets/app/google.svg' alt='google' class='img-fluid' />
          </button>

          <button class='btn p-0 rounded-circle'>
            <img
              src='/assets/app/facebook.svg'
              alt='facebook'
              class='img-fluid'
            />
          </button>

          <button class='btn p-0 rounded-circle'>
            <img src='/assets/app/github.svg' alt='github' class='img-fluid' />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src='/js/login.js'></script>
