<div class='h-100 d-flex justify-content-center align-items-center'>
  <div class='card p-5 text-center shadow'>
    <h3 class='pb-4'>Please enter the OTP to verify your account</h3>
    <form id='otp-form' action='/verify' method='POST' class='mb-0'>
      <input id='otp' type='hidden' name='otp' value='' />
      <div class='d-flex justify-content-center align-items-center'>
        <input
          class='m-2 text-center form-control rounded otp-digit'
          type='text'
          id='first'
          maxlength='1'
        />
        <input
          class='m-2 text-center form-control rounded otp-digit'
          type='text'
          maxlength='1'
        />
        <input
          class='m-2 text-center form-control rounded otp-digit'
          type='text'
          maxlength='1'
        />
        <input
          class='m-2 text-center form-control rounded otp-digit'
          type='text'
          maxlength='1'
        />
        <input
          class='m-2 text-center form-control rounded otp-digit'
          type='text'
          maxlength='1'
        />
        <input
          class='m-2 text-center form-control rounded otp-digit'
          type='text'
          maxlength='1'
        />
      </div>

      <button
        type='button'
        class='btn btn-lg btn-primary mt-4 px-4'
        id='btn-submit'
      >
        Submit
      </button>
    </form>

    <div class='d-flex justify-content-between'>
      <form action='/logout' method='POST' class='mb-0'>
        <button type='submit' class='btn btn-link'>Log out</button>
      </form>
      <form action='#' class='mb-0'>
        <button type='submit' class='btn btn-link'>Resend OTP</button>
      </form>
    </div>
  </div>
</div>

<style>
  .otp-digit { width: 4rem; height: 4rem; }
</style>

<script src='/js/verify.js'></script>
