@media (max-width: 767px) {
    .custom-carousel .carousel-inner .carousel-item > div {
        display: none;
    }
    .custom-carousel .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.custom-carousel .carousel-inner .carousel-item.active,
.custom-carousel .carousel-inner .carousel-item-next,
.custom-carousel .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .custom-carousel .carousel-inner .carousel-item-end.active,
    .custom-carousel .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .custom-carousel .carousel-inner .carousel-item-start.active, 
    .custom-carousel .carousel-inner .carousel-item-prev {
        &.custom {
            transform: translateX(-25%);
        }
        transform: translateX(-25%);
    }
}

.custom-carousel .carousel-inner .carousel-item-end,
.custom-carousel .carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

.custom-carousel {
    img {
        width: 100%;
        max-height: 11.3em;
    }
}

.custom-carousel .btn-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}