<div
    id='carouselExampleIndicators'
    class='carousel slide w-75'
    data-bs-ride='carousel'
  >
    <div class='carousel-indicators'>
      <button
        type='button'
        data-bs-target='#carouselExampleIndicators'
        data-bs-slide-to='0'
        class='active'
        aria-current='true'
        aria-label='Slide 1'
      ></button>
      <button
        type='button'
        data-bs-target='#carouselExampleIndicators'
        data-bs-slide-to='1'
        aria-label='Slide 2'
      ></button>
      <button
        type='button'
        data-bs-target='#carouselExampleIndicators'
        data-bs-slide-to='2'
        aria-label='Slide 3'
      ></button>
    </div>
    <div class='carousel-inner'>
      <div class='carousel-item active'>
        <img
          src='assets/carousel/mock-0.jpg'
          class='d-block w-100 img-fluid carousel-item-image-app'
          alt='...'
        />
      </div>
      <div class='carousel-item'>
        <img
          src='assets/carousel/mock-2.jpeg '
          class='d-block w-100 img-fluid carousel-item-image-app'
          alt='...'
        />
      </div>
      <div class='carousel-item'>
        <img
          src='assets/carousel/mock-3.webp '
          class='d-block w-100 img-fluid carousel-item-image-app'
          alt='...'
        />
      </div>
    </div>
    
    <button
      class='carousel-control-prev'
      type='button'
      data-bs-target='#carouselExampleIndicators'
      data-bs-slide='prev'
    >
      <div class='rounded-pill bg-dark p-3'>
        <span class='carousel-control-prev-icon' aria-hidden='true'></span>
      </div>
    </button>
    <button
      class='carousel-control-next'
      type='button'
      data-bs-target='#carouselExampleIndicators'
      data-bs-slide='next'
    >
      <div class='rounded-pill bg-dark p-3'>
        <span class='carousel-control-next-icon' aria-hidden='true'></span>
      </div>
    </button>
  </div>