<!-- Footer -->
<footer class='text-center text-lg-start bg-dark mt-auto text-muted fs-7'>
  <!-- Section: Links  -->
  <section class=''>
    <div class='container text-center text-md-start my-5'>
      <!-- Grid row -->
      <div class='row'>
        <!-- Grid column -->
        <div class='col-md-3 col-lg-4 col-xl-3 mx-auto'>
          <!-- Content -->
          <h6 class='text-uppercase fw-bold mb-2'>
            <i class='fas fa-gem me-2'></i>Online Academy
          </h6>
          <p>
            An online learning and teaching platform
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class='col-md-2 col-lg-2 col-xl-2 mx-auto'>
          <!-- Links -->
          <h6 class='text-uppercase fw-bold mb-2'>
            Products
          </h6>
          <p>
            <a href='/' class='text-reset'>Angular</a>
          </p>
          <p>
            <a href='/' class='text-reset'>React</a>
          </p>
          <p>
            <a href='/' class='text-reset'>Vue</a>
          </p>
          <p class='mb-0'>
            <a href='/' class='text-reset'>Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class='col-md-3 col-lg-2 col-xl-2 mx-auto'>
          <!-- Links -->
          <h6 class='text-uppercase fw-bold mb-2'>
            Useful links
          </h6>
          <p>
            <a href='/' class='text-reset'>Pricing</a>
          </p>
          <p>
            <a href='/' class='text-reset'>Settings</a>
          </p>
          <p>
            <a href='/' class='text-reset'>Orders</a>
          </p>
          <p class='mb-0'>
            <a href='/' class='text-reset'>Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class='col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0'>
          <!-- Links -->
          <h6 class='text-uppercase fw-bold mb-2'>Contact</h6>
          <p><i class='fas fa-home me-2'></i>227 Nguyễn Văn Cừ, Phường 4, Quận 5</p>
          <p>
            <i class='fas fa-envelope me-2'></i>
            onlineacademy@email.com
          </p>
          <p><i class='fas fa-phone me-2'></i> + 01 234 567 88</p>
          <p class='mb-0'><i class='fas fa-print me-2'></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class='text-center p-2' style='background-color: rgba(0, 0, 0, 0.05);'>
    © 2021 Copyright:
    <a class='text-reset fw-bold' href='/'>online-academy.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
