<div class='sidebar-wrapper active'>
  <div class='sidebar-header'>
    <div class='d-flex justify-content-between'>
      <div class='d-flex align-items-center'>
        <img
          src='/assets/app/oa-logo-small.png'
          alt='avatar'
          class='img-fluid rounded-circle logo'
        />
        <h2 class='text-uppercase my-0 ms-2 fs-4'>instructor</h2>
      </div>
      <div class='toggler'>
        <a href='#' class='sidebar-hide d-xl-none d-block'><i
            class='fa-solid fa-xmark'
          ></i></a>
      </div>
    </div>
  </div>

  <ul class='menu'>
    <li class='sidebar-item'>
      <a href='/instructor' class='sidebar-link'>
        <i class='fa-solid fa-house-chimney'></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class='sidebar-item'>
      <a href='/instructor/profile' class='sidebar-link'>
        <i class='fa-solid fa-user'></i>
        <span>Profile</span>
      </a>
    </li>

    <li class='sidebar-item mt-auto'>
      <form id='logout' action='/logout' method='post' class='my-0'>
        <button
          class='sidebar-link btn btn-outline-secondary px-4 w-100 border-0'
          type='submit'
        >
          <i class='fa-solid fa-right-from-bracket'></i>
          <span>Logout</span>
        </button>
      </form>
    </li>
  </ul>
  <button class='sidebar-toggler btn x'><i
      class='fa-solid fa-bars'
    ></i></button>
</div>