<div
  class='d-flex flex-column bg-dark text-light p-3 h-100 w-15 overflow-hidden'
>
  <div class='d-flex align-items-center'>
    <img
      src='/assets/app/oa-logo-small.png'
      alt='avatar'
      class='img-fluid rounded-circle logo'
    />
    <h2 class='text-uppercase my-0 ms-2 fs-4'>admin</h2>
  </div>
  <nav class='navbar navbar-light d-flex flex-column text-light'>
    <a
      class='navbar-brand d-flex align-items-center text-light w-100 py-3 fs-section'
      href='/admin'
    >
      <i class='fa-solid fa-house me-3'></i>
      Dashboard
    </a>
    <a
      class='navbar-brand d-flex align-items-center text-light w-100 py-3 fs-section'
      href='/admin/users-list'
    >
      <i class='fa-solid fa-users me-3'></i>
      Users
    </a>
    <a
      class='navbar-brand d-flex align-items-center text-light w-100 py-3 fs-section'
      href='/admin/management-courses'
    >
      <i class='fa-solid fa-book-open me-3'></i>
      Management Courses
    </a>
  </nav>
</div>