<div class='sidebar-wrapper-admin active'>
  <div class='sidebar-header my-3'>
    <a
      class='d-flex align-items-center justify-content-center text-decoration-none'
      href='/admin/#'
    >
      <img
        src='/assets/app/oa-logo-small.png'
        alt='avatar'
        class='img-fluid rounded-circle logo'
      />
      <p class='text-uppercase fs-7 my-0 text-white ms-3'>Admin</p>
    </a>
  </div>

  <ul class='menu'>
    <li class='sidebar-item'>
      <div class='sidebar-item-control'>
        <a href='/admin/courses' class='sidebar-link'>
          <i class='bi bi-youtube'></i>
          <div>
            <span>Courses</span>
          </div>
        </a>
        <button
          class='btn btn-dark btn-sm sidebar-item-button'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapse-menu-course'
          aria-expanded='false'
          aria-controls='collapse-menu-course'
        >
          <i class='bi bi-caret-down-fill'></i>
        </button>
      </div>
      <div class='collapse' id='collapse-menu-course'>
        <div class='card card-body'>
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </li>

    <li class='sidebar-item'>
      <div class='sidebar-item-control'>
        <a href='/admin/users' class='sidebar-link'>
          <i class='fa-solid fa-user'></i>
          <div>
            <span>Users</span>
          </div>
        </a>
        <button
          class='btn btn-dark btn-sm sidebar-item-button'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapse-menu-user'
          aria-expanded='false'
          aria-controls='collapse-menu-user'
        >
          <i class='bi bi-caret-down-fill'></i>
        </button>
      </div>
      <div class='collapse' id='collapse-menu-user'>
        <div class='card card-body'>
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </li>

    <li class='sidebar-item'>
      <div class='sidebar-item-control'>
        <a href='/admin/enrollments' class='sidebar-link'>
          <i class='fa-solid fa-file-contract'></i>
          <div>
            <span>Enrollments</span>
          </div>
        </a>
        <button
          class='btn btn-dark btn-sm sidebar-item-button'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapse-menu-enrollment'
          aria-expanded='false'
          aria-controls='collapse-menu-enrollment'
        >
          <i class='bi bi-caret-down-fill'></i>
        </button>
      </div>
      <div class='collapse' id='collapse-menu-enrollment'>
        <div class='card card-body'>
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </li>

    <li class='sidebar-item'>
      <div class='sidebar-item-control'>
        <a href='/admin/lessons' class='sidebar-link'>
          <i class='fa-solid fa-person-chalkboard'></i>
          <div>
            <span>Lessons</span>
          </div>
        </a>
        <button
          class='btn btn-dark btn-sm sidebar-item-button'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapse-menu-lesson'
          aria-expanded='false'
          aria-controls='collapse-menu-lesson'
        >
          <i class='bi bi-caret-down-fill'></i>
        </button>
      </div>
      <div class='collapse' id='collapse-menu-lesson'>
        <div class='card card-body'>
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </li>

    <li class='sidebar-item'>
      <div class='sidebar-item-control'>
        <a href='/admin/medias' class='sidebar-link'>
          <i class='bi bi-music-note-list'></i>
          <div>
            <span>Medias</span>
          </div>
        </a>
        <button
          class='btn btn-dark btn-sm sidebar-item-button'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapse-menu-media'
          aria-expanded='false'
          aria-controls='collapse-menu-media'
        >
          <i class='bi bi-caret-down-fill'></i>
        </button>
      </div>
      <div class='collapse' id='collapse-menu-media'>
        <div class='card card-body'>
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </li>

    <li class='sidebar-item'>
      <div class='sidebar-item-control'>
        <a href='/admin/otps' class='sidebar-link'>
          <i class='fa-solid fa-mobile-screen'></i>
          <div>
            <span>OTP</span>
          </div>
        </a>
        <button
          class='btn btn-dark btn-sm sidebar-item-button'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapse-menu-otp'
          aria-expanded='false'
          aria-controls='collapse-menu-otp'
        >
          <i class='bi bi-caret-down-fill'></i>
        </button>
      </div>
      <div class='collapse' id='collapse-menu-otp'>
        <div class='card card-body'>
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </li>

    <li class='sidebar-item'>
      <div class='sidebar-item-control'>
        <a href='/admin/sections' class='sidebar-link'>
          <i class='fa-solid fa-section'></i>
          <div>
            <span>Sections</span>
          </div>
        </a>
        <button
          class='btn btn-dark btn-sm sidebar-item-button'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapse-menu-section'
          aria-expanded='false'
          aria-controls='collapse-menu-section'
        >
          <i class='bi bi-caret-down-fill'></i>
        </button>
      </div>
      <div class='collapse' id='collapse-menu-section'>
        <div class='card card-body'>
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </li>

    <li class='sidebar-item'>
      <div class='sidebar-item-control'>
        <a href='/admin/reviews' class='sidebar-link'>
          <i class='fa-solid fa-comment'></i>
          <div>
            <span>Reviews</span>
          </div>
        </a>
        <button
          class='btn btn-dark btn-sm sidebar-item-button'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapse-menu-review'
          aria-expanded='false'
          aria-controls='collapse-menu-review'
        >
          <i class='bi bi-caret-down-fill'></i>
        </button>
      </div>
      <div class='collapse' id='collapse-menu-review'>
        <div class='card card-body'>
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </li>

    <li class='sidebar-item'>
      <div class='sidebar-item-control'>
        <a href='/admin/categories' class='sidebar-link'>
          <i class='fa-solid fa-grid-2'></i>
          <div>
            <span>Categories</span>
          </div>
        </a>
        <button
          class='btn btn-dark btn-sm sidebar-item-button'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapse-menu-category'
          aria-expanded='false'
          aria-controls='collapse-menu-category'
        >
          <i class='bi bi-caret-down-fill'></i>
        </button>
      </div>
      <div class='collapse' id='collapse-menu-category'>
        <div class='card card-body'>
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </li>

    <li class='sidebar-item mt-auto'>
      <form id='logout' action='/logout' method='post' class='my-0'>
        <button
          class='sidebar-link btn btn-outline-secondary px-4 w-100 border-0'
          type='submit'
        >
          <i class='fa-solid fa-right-from-bracket'></i>
          <span>Logout</span>
        </button>
      </form>
    </li>
  </ul>
  <button class='sidebar-toggler btn x'><i
      class='fa-solid fa-bars'
    ></i></button>
</div>