<div
  class='nav d-flex flex-column'
  style='width: 15%; height: 100%; background-color: #ffff; padding: 20px;'
>
  <h2>Udemy Online</h2>
  <nav class='navbar navbar-light d-flex flex-column'>
    <a
      class='navbar-brand d-flex align-items-center'
      href='/admin'
      style='width: 100%; padding: 20px 0;'
    >
      <i class='bi bi-house-door-fill' style="margin-right: 20px;"></i>
      Dashboard
    </a>
    <a
      class='navbar-brand d-flex align-items-center'
      href='/admin/management-users'
      style='width: 100%; padding: 20px 0;'
    >
      <i class='bi bi-people-fill' style="margin-right: 20px;"></i>
      Management Users
    </a>
    <a
      class='navbar-brand d-flex align-items-center'
      href='/admin/management-courses'
      style='width: 100%; padding: 20px 0;'
    >
      <i class='bi bi-book-fill' style="margin-right: 20px;"></i>
      Management Courses
    </a>
  </nav>
</div>