<div class='sidebar-wrapper-admin active'>
  <div class='sidebar-header my-3'>
    <a
      class='d-flex align-items-center justify-content-center text-decoration-none'
      href='/admin/#'
    >
      <img
        src='/assets/app/oa-logo-small.png'
        alt='avatar'
        class='img-fluid rounded-circle logo'
      />
      <p class='text-uppercase fs-7 my-0 text-white ms-3'>Admin</p>
    </a>
  </div>

  <ul class='menu'>
    <li class='sidebar-item'>
      <div class='sidebar-item-control'>
        <a href='/admin/courses' class='sidebar-link'>
          <i class='bi bi-youtube'></i>
          <div>
            <span>Courses</span>
          </div>
        </a>
        <button
          class='btn btn-dark btn-sm sidebar-item-button'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapse-menu-course'
          aria-expanded='false'
          aria-controls='collapse-menu-course'
        >
          <i class='bi bi-caret-down-fill'></i>
        </button>
      </div>
    </li>

    <li class='sidebar-item'>
      <div class='sidebar-item-control'>
        <a href='/admin/users' class='sidebar-link'>
          <i class='fa-solid fa-user'></i>
          <div>
            <span>Users</span>
          </div>
        </a>
        <button
          class='btn btn-dark btn-sm sidebar-item-button'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapse-menu-user'
          aria-expanded='false'
          aria-controls='collapse-menu-user'
        >
          <i class='bi bi-caret-down-fill'></i>
        </button>
      </div>
    </li>

    <li class='sidebar-item'>
      <div class='sidebar-item-control'>
        <a href='/admin/categories' class='sidebar-link'>
          <i class='fa-solid fa-hashtag'></i>
          <div>
            <span>Categories</span>
          </div>
        </a>
        <button
          class='btn btn-dark btn-sm sidebar-item-button'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapse-menu-category'
          aria-expanded='false'
          aria-controls='collapse-menu-category'
        >
          <i class='bi bi-caret-down-fill'></i>
        </button>
      </div>
    </li>

    <li class='sidebar-item mt-auto'>
      <form id='logout' action='/logout' method='post' class='my-0'>
        <button
          class='sidebar-link btn btn-outline-secondary px-4 w-100 border-0'
          type='submit'
        >
          <i class='fa-solid fa-right-from-bracket'></i>
          <span>Logout</span>
        </button>
      </form>
    </li>
  </ul>
  <button class='sidebar-toggler btn x'><i
      class='fa-solid fa-bars'
    ></i></button>
</div>