<div class='mx-2'>

  <div class='search d-flex row' style='margin-top: 20px;'>
    <form class='form-inline my-2'>
      <a
        class='btn btn-outline-success'
        type='submit'
        href='/admin/create-user'
      >
        <i class='bi bi-person-fill-add'></i>
        Add
      </a>
    </form>
  </div>

  <table id='users-list' class='table table-striped' style='width:100%'>
    <thead>
      <tr>
        <th>User Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this._id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.role}}</td>
          <td>
            <a
              type='button'
              class='btn btn-warning btn-rounded btn-sm fw-bold'
              data-mdb-ripple-color='dark'
            >
              Edit
            </a>
            <button
              type='button'
              class='btn btn-danger btn-rounded btn-sm fw-bold'
              data-mdb-ripple-color='dark'
            >
              Delete
            </button>
            <button
              type='button'
              class='btn btn-link btn-rounded btn-sm fw-bold'
              data-mdb-ripple-color='dark'
            >
              Review
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () { $('#users-list').DataTable(); });
</script>