<div class='container vh-100 d-flex align-items-center'>
  <div class='row'>
    <div class='col-8 offset-2'>
      <img class='w-100' src='/assets/app/403.png' alt='Forbidden' />
      <div class='text-center'>
        <h1 class='fs-1'>Forbidden</h1>
        <p class='fs-5 text-gray-600'>You are unauthorized to see this page.</p>
        <a href='/' class='btn btn-lg btn-outline-primary mt-3'>Go Home</a>
      </div>
    </div>
  </div>
</div>
