<div class='container vh-100 d-flex align-items-center'>
  <div class='row'>
    <div class='col-8 offset-2'>
      <img class='w-100' src='/assets/app/500.png' alt='500' />
      <div class='text-center'>
        <h1 class='fs-1'>Something went wrong</h1>
        <p class='fs-5 text-gray-600'>The website is currently unavailable. Try
          again later or contact the developer.</p>
        <a href='/' class='btn btn-lg btn-outline-primary mt-3'>Go Home</a>
      </div>
    </div>
  </div>
</div>
