<div class='container vh-100 d-flex align-items-center'>
  <div class='row w-100'>
    <div class='col-8 offset-2'>
      <h2>Status code: {{error.statusCode}}</h2>
      <h3>Message: {{error.message}}</h3>
      <p class='fs-5'>{{{error.stack}}}</p>
    </div>
  </div>
</div>
