.btn-app {
  overflow: hidden;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  min-width: 6.25rem;
  cursor: pointer;
  &:focus {
    box-shadow: none;
  }
}

// override bootstrap form-check-input
.form-check-input.no-validate:valid {
  border: $form-check-input-border;

  &:checked {
    background-color: $form-check-input-checked-bg-color;
  }

  &:focus {
    box-shadow: $form-check-input-focus-box-shadow;
  }

  ~ .form-check-label {
    color: $body-color;
  }
}
