.dropdown-menu {
  padding: 0;

  li {
    position: relative;
  }

  .dropdown-submenu {
    display: none;
    position: absolute;
    left: calc(100% - 1px);
    top: -1;
  }

  .dropdown-item:hover,
  .dropdown-item:has(+ .dropdown-submenu:hover) {
    color: $primary;
  }

  .dropdown-item:active {
    color: #fff;
  }

  .dropdown-item {
    padding: 0.5rem 1rem;
  }

  .dropdown-divider {
    margin: 0;
  }

  & > li:hover > .dropdown-submenu {
    display: block;
  }
}
