.instructor-container {
  padding-top: 4.5rem;
  margin-left: 20%;
}

.instructor-responsive-container {
  max-width: 96rem;
  min-height: 45rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.instructor-title {
  font-size: 2rem;
  margin: 0.5rem 0 2rem;
}

.form-container {
  flex: 1;
  gap: 2rem;

  .form-content {
    flex: 1;
    min-width: 23.4375rem;
    max-width: 37.5rem;

    .oa-text-input-large {
      height: 3rem;
      width: 100%;
      padding: 0 1rem;

      &:focus {
        outline: none;
      }

      &:disabled {
        border: 1px solid;
      }
    }

    .rt-editor-container {
      position: relative;
      z-index: 0;
    }

    .ud-text-input-container {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 0;
      height: 3rem;
    }

    .link-to {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      height: 100%;
      background: #f7f9fa;
      padding: 0 1rem;
    }

    .ud-text-md {
      font-weight: 400;
      line-height: 1.4;
      font-size: 1rem;
    }

    .rt-menu-bar-container-sticky {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 1;
    }

    .rt-editor {
      background: #fff;
    }

    .ud-text-md {
      font-weight: 400;
      line-height: 1.4;
      font-size: 1rem;
    }

    .ProseMirror {
      background: 0 0;
      border: 1px solid #1c1d1f;
      overflow: auto;
      padding: 0.8125rem 1rem;
      position: relative;
      height: 6rem;
    }

    .biography-input {
      border: none;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .rt-menu-bar-container {
      background: #fff;
      border: 1px solid #1c1d1f;
    }

    .rt-menu-bar,
    .rt-menu-bar-right {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-grow: 1;
    }

    .biography-button {
      background-color: transparent;
      border: none;
      width: 2.5rem;
      padding: 0 0.625rem;
      height: 2.5rem;
      min-width: auto;
    }
  }
}

.oa-form-group {
  min-width: 18rem;
  max-width: 60rem;
}
.oa-form-label {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  margin: 0;
  min-height: 2.8rem;
}

.oa-heading-sm {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 0.875rem;
}

.oa-form-note {
  display: flex;
  align-items: center;
  padding-top: 0.8rem;
  margin-bottom: 0.75rem;
}

.oa-text-xs {
  font-weight: 400;
  line-height: 1.4;
  font-size: 0.75rem;
}

.padding-0 {
  padding: 0;
}

.ud-image-upload-preview-wrapper {
  border: 1px solid #1c1d1f;
  padding: 1rem;
  margin-bottom: 1rem;
}

.image-upload-preview-with-crop {
  background: #f7f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.file-uploader {
  height: 3rem;

  label {
    display: flex;
    height: 100%;
    margin: 0;
    cursor: pointer;
  }

  .file-input {
    opacity: 0;
    position: relative;
    top: -50;

    &:hover {
      cursor: pointer;
    }
  }

  .fake-input {
    border: 1px solid #1c1d1f;
    border-right: 0;
    flex: 1;
    min-width: 1px;
    height: 100%;
    background-color: #f7f9fa;
    color: #1c1d1f;
    display: flex;
    align-items: center;
    padding: 0 1rem;

    .fake-input-title {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .upload-image {
    color: #1c1d1f;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    position: relative;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    min-width: 5rem;
    padding: 0 0.75rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;

    span {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

.oa-footer-btns {
  text-align: left;

  .save-button {
    height: 3rem;
    color: #fff;
    min-width: 5rem;
    padding: 0 3rem;
    font-size: 1rem;
    font-weight: 700;
  }
}