.search input {
  height: 45px;
  text-indent: 30px;

  &:focus {
    box-shadow: none;
    border: 2px solid rgb(88, 154, 110);
  }
}

.search .btn-search {
  position: absolute;
  left: 1.25rem;
  border: none;

  &:hover {
    color: rgb(152, 145, 145);
  }

  &:focus {
    box-shadow: none;
  }
}
