#sidebar {
  &.active {
    .sidebar-wrapper {
      left: 0;
    }
  }
  &:not(.active) {
    .sidebar-wrapper {
      left: -300px;
    }
    & ~ #main {
      margin-left: 0;
    }
  }
}

.sidebar-wrapper {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;
  overflow-y: auto;
  color: #fff;
  background-color: $dark;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transition: left 0.5s ease-out;

  .sidebar-header {
    padding: 2rem 2rem 1rem;
    font-size: 2rem;
    font-weight: bold;

    img {
      height: 1.2rem;
    }
  }

  .sidebar-toggler.x {
    position: absolute;
    right: 0;
    top: 0.5rem;
    display: none;
  }

  .menu {
    flex: 1;
    padding-left: 0;
    margin-top: 2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;

    .sidebar-link {
      display: block;
      padding: 0.7rem 1rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      transition: all 0.5s;
      text-decoration: none;
      color: #fff;
      svg,
      span {
        margin-left: 1rem;
      }
      &:hover {
        background-color: $primary;
      }
    }

    .sidebar-item {
      list-style: none;
      margin-top: 0.5rem;
      position: relative;
    }
  }
}

.sidebar-wrapper-admin {
  width: 300px;
  height: 100vh;
  top: 0;
  z-index: 10;
  overflow-y: auto;
  color: #fff;
  background-color: $dark;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transition: left 0.5s ease-out;

  .sidebar-header {
    font-size: 2rem;
    font-weight: bold;
    padding: auto;
    color:rgb(240, 241, 245) img {
      height: 2rem;
    }
  }

  .sidebar-toggler.x {
    position: absolute;
    right: 0;
    top: 0.5rem;
    display: none;
  }

  .menu {
    flex: 1;
    padding-left: 0;
    margin-top: 1rem;
    padding: 0 2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;

    .sidebar-link {
      display: block;
      padding: 0.7rem 1rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      transition: all 0.5s;
      text-decoration: none;
      color: #c3c5ca;
      svg,
      i {
        color: #bbbdc1;
      }
      span {
        margin-left: 1rem;
      }
    }

    .sidebar-item {
      list-style: none;
      margin-top: 0.5rem;
      border-radius: 0.5rem;
      position: relative;
      &:hover {
        background-color: rgb(240, 241, 245);
      }
    }
    .sidebar-item-control {
      display: flex;
      flex-direction: row;
      position: relative;
    }

    .sidebar-item-button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      right: 0.8rem;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 2rem;
      border-radius: 0.5rem;
    }
  }
}
@media screen and (max-width: 1199px) {
  .sidebar-wrapper {
    position: absolute;
    left: -300px;
    .sidebar-toggler.x {
      display: block;
    }
  }
}

@media screen and (max-width: 1199px) {
  .sidebar-wrapper {
    position: absolute;
    left: -300px;
    .sidebar-toggler.x {
      display: block;
    }
  }
}
