.btn-app {
  overflow: hidden;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  min-width: 6.25rem;
  cursor: pointer;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    background-color: rgb(88, 154, 110);
    color: #fff;
  }
}
