<div class='container instructor-container'>
  <div class='instructor-responsive-container'>
    <div>
      <div class='instructor-dashboard'>
        <h1 class='fs-6 fw-normal'>Jump Into Course Creation</h1>
        <a
          class='instructor-dashboard-button bg-primary position-relative align-items-center border-0 d-inline-flex justify-content-center'
          href='/instructor'
        ><span>Create Your Course</span></a>
      </div>
      <div>
        <div>
          <h2 class='text-center helpful fs-6 fw-normal'>Based on your
            experience, we think these resources will be helpful.</h2>
          <div class='main-content'>
            <div class='create-engaging back-ground-content'>
              <div class='create-engaging-image'><img
                  src='https://s.udemycdn.com/instructor/dashboard/engaging-course.jpg'
                  class='img-fluid'
                  alt='create'
                /></div>
              <div class='create-engaging-content'>
                <h3 class='engaging-header header'>Create an Engaging Course</h3>
                <p class='header header-content'>Whether you've been teaching
                  for years or are teaching for the first time, you can make an
                  engaging course. We've compiled resources and best practices
                  to help you get to the next level, no matter where you're
                  starting.</p>
                <a class='engaging-nav primary' href=''>Get started
                </a>
              </div>
            </div>
            <div class='started-video back-ground-content'>
              <div class='video-image'><img
                  src='https://s.udemycdn.com/instructor/dashboard/video-creation.jpg'
                  alt='video'
                /></div>
              <div class='video-container'>
                <h3 class='video-header header'>Get Started with Video</h3>
                <p class='header header-content'>Quality video lectures can set
                  your course apart. Use our resources to learn the basics.

                </p>
                <a href='' class='video-nav'>Get Started</a>
              </div>
            </div>
            <div class='started-video back-ground-content'>
              <div class='video-image'>
                <img
                  src='https://s.udemycdn.com/instructor/dashboard/build-audience.jpg'
                  alt='audience'
                />
              </div>
              <div class='video-container'>
                <h3 class='video-header header'>Build Your Audience
                </h3>
                <p class='header header-content'>Set your course up for success
                  by building your audience.

                </p>
                <a href='' class='video-nav'>Get Started</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2 class='resources-title header-content'>Have questions? Here are
            our most popular instructor resources.</h2>
          <div class='resources-container'>
            <a href=''>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                viewBox='0 0 576 512'
                class='icon'
              ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path
                  d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z'
                ></path></svg>
              <div class='content-title primary'>Test Video</div>
              <div class='content-text'>Send us a sample video and get expert
                feedback.</div>
            </a>
            <a href=''>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                viewBox='0 0 640 512'
                class='icon'
              ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path
                  d='M208 352c114.9 0 208-78.8 208-176S322.9 0 208 0S0 78.8 0 176c0 38.6 14.7 74.3 39.6 103.4c-3.5 9.4-8.7 17.7-14.2 24.7c-4.8 6.2-9.7 11-13.3 14.3c-1.8 1.6-3.3 2.9-4.3 3.7c-.5 .4-.9 .7-1.1 .8l-.2 .2 0 0 0 0C1 327.2-1.4 334.4 .8 340.9S9.1 352 16 352c21.8 0 43.8-5.6 62.1-12.5c9.2-3.5 17.8-7.4 25.3-11.4C134.1 343.3 169.8 352 208 352zM448 176c0 112.3-99.1 196.9-216.5 207C255.8 457.4 336.4 512 432 512c38.2 0 73.9-8.7 104.7-23.9c7.5 4 16 7.9 25.2 11.4c18.3 6.9 40.3 12.5 62.1 12.5c6.9 0 13.1-4.5 15.2-11.1c2.1-6.6-.2-13.8-5.8-17.9l0 0 0 0-.2-.2c-.2-.2-.6-.4-1.1-.8c-1-.8-2.5-2-4.3-3.7c-3.6-3.3-8.5-8.1-13.3-14.3c-5.5-7-10.7-15.4-14.2-24.7c24.9-29 39.6-64.7 39.6-103.4c0-92.8-84.9-168.9-192.6-175.5c.4 5.1 .6 10.3 .6 15.5z'
                ></path></svg>
              <div class='content-title primary'>Instructor Community</div>
              <div class='content-text'>Connect with experienced instructors.
                Ask questions, browse discussions, and more.</div>
            </a>
            <a href=''>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                viewBox='0 0 640 512'
                class='icon'
              ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path
                  d='M192 96c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48zm-8 384V352h16V480c0 17.7 14.3 32 32 32s32-14.3 32-32V192h56 64 16c17.7 0 32-14.3 32-32s-14.3-32-32-32H384V64H576V256H384V224H320v48c0 26.5 21.5 48 48 48H592c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48H368c-26.5 0-48 21.5-48 48v80H243.1 177.1c-33.7 0-64.9 17.7-82.3 46.6l-58.3 97c-9.1 15.1-4.2 34.8 10.9 43.9s34.8 4.2 43.9-10.9L120 256.9V480c0 17.7 14.3 32 32 32s32-14.3 32-32z'
                ></path></svg>
              <div class='content-title primary'>Teaching Center</div>
              <div class='content-text'>Learn about best practices for teaching
                on Udemy.</div>
            </a>
            <a href=''>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                viewBox='0 0 512 512'
                class='icon'
              ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path
                  d='M470.7 9.4c3 3.1 5.3 6.6 6.9 10.3s2.4 7.8 2.4 12.2l0 .1v0 96c0 17.7-14.3 32-32 32s-32-14.3-32-32V109.3L310.6 214.6c-11.8 11.8-30.8 12.6-43.5 1.7L176 138.1 84.8 216.3c-13.4 11.5-33.6 9.9-45.1-3.5s-9.9-33.6 3.5-45.1l112-96c12-10.3 29.7-10.3 41.7 0l89.5 76.7L370.7 64H352c-17.7 0-32-14.3-32-32s14.3-32 32-32h96 0c8.8 0 16.8 3.6 22.6 9.3l.1 .1zM0 304c0-26.5 21.5-48 48-48H464c26.5 0 48 21.5 48 48V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V304zM48 416v48H96c0-26.5-21.5-48-48-48zM96 304H48v48c26.5 0 48-21.5 48-48zM464 416c-26.5 0-48 21.5-48 48h48V416zM416 304c0 26.5 21.5 48 48 48V304H416zm-96 80c0-35.3-28.7-64-64-64s-64 28.7-64 64s28.7 64 64 64s64-28.7 64-64z'
                ></path></svg>
              <div class='content-title primary'>Marketplace Insights</div>
              <div class='content-text'>Validate your course topic by exploring
                our marketplace supply and demand.</div>
            </a>
            <a href=''>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                viewBox='0 0 576 512'
                class='icon'
              ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path
                  d='M208 48c0 26.5-21.5 48-48 48s-48-21.5-48-48s21.5-48 48-48s48 21.5 48 48zM152 352V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V256.9L59.4 304.5c-9.1 15.1-28.8 20-43.9 10.9s-20-28.8-10.9-43.9l58.3-97c17.4-28.9 48.6-46.6 82.3-46.6h29.7c33.7 0 64.9 17.7 82.3 46.6l44.9 74.7c-16.1 17.6-28.6 38.5-36.6 61.5c-1.9-1.8-3.5-3.9-4.9-6.3L232 256.9V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V352H152zM432 512c-79.5 0-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144s-64.5 144-144 144zm0-48c13.3 0 24-10.7 24-24s-10.7-24-24-24s-24 10.7-24 24s10.7 24 24 24zM368 321.6V328c0 8.8 7.2 16 16 16s16-7.2 16-16v-6.4c0-5.3 4.3-9.6 9.6-9.6h40.5c7.7 0 13.9 6.2 13.9 13.9c0 5.2-2.9 9.9-7.4 12.3l-32 16.8c-5.3 2.8-8.6 8.2-8.6 14.2V384c0 8.8 7.2 16 16 16s16-7.2 16-16v-5.1l23.5-12.3c15.1-7.9 24.5-23.6 24.5-40.6c0-25.4-20.6-45.9-45.9-45.9H409.6c-23 0-41.6 18.6-41.6 41.6z'
                ></path></svg>
              <div class='content-title primary'>Help and Support</div>
              <div class='content-text'>Browse our Help Center or contact our
                support team.</div>
            </a>
          </div>
        </div>
        <div class='footer'>
          <h2 class='footer-title header-content'>Are You Ready to Begin?</h2>
          <a
            class='footer-button bg-primary position-relative align-items-center border-0 d-inline-flex justify-content-center'
            href=''
          ><span>Create Your Course</span></a>
        </div>
      </div>
    </div>
  </div>
  {{! create a form can send data filed + send file image in req.file to server }}
  <form
    action='/api/v1/instructor/create-course'
    method='POST'
    enctype='multipart/form-data'
  >
    <div class='form-group'>
      <label for='name'>name</label>
      <input type='text' class='form-control' name='name' />
    </div>
    <div class='form-group'>
      <label for='briefDescription'>brief Description</label>
      <input type='text' class='form-control' name='briefDescription' />
    </div>
    <div class='form-group'>
      <label for='detailDescription'>detailDescription</label>
      <input type='text' class='form-control' name='detailDescription' />
    </div>
    <div class='form-group'>
      <label for='price'>price</label>
      <input type='text' class='form-control' name='price' />
    </div>
    <div class='form-group'>
      <label for='category'>category</label>
      <input type='text' class='form-control' name='category' />
    </div>
    <div class='form-group'>
      <label for='coverPhoto'>coverPhoto</label>
      <input type='file' class='form-control-file' name='coverPhoto' />
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </form>

  {{! create a form can send data filed: name + description + send file video to server }}
  <form
    action='/api/v1/instructor/create-lesson'
    method='POST'
    enctype='multipart/form-data'
  >
    <div class='form-group'>
      <label for='name'>name</label>
      <input type='text' class='form-control' name='name' />
    </div>
    <div class='form-group'>
      <label for='description'>description</label>
      <input type='text' class='form-control' name='description' />
    </div>
    <div class='form-group'>
      <label for='video'>video</label>
      <input type='file' class='form-control-file' name='video' />
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>

  </form>

</div>

<script src='/js/instructor/course.js'></script>