<div class='container instructor-container'>
  <div class='instructor-responsive-container'>
    <form
      action='/api/v1/instructor/{{courseSlug}}/{{sectionId}}/create-lesson'
      method='POST'
      enctype='multipart/form-data'
      id='form-video-create'
    >
      <div class='d-flex form-container m-2'>
        <div class='form-content'>
          <div class='oa-form-group'>
            <label class='oa-form-label oa-heading-sm'>Name</label>
            <input
              type='text'
              name='name'
              id='name'
              class='oa-text-input-large'
              placeholder="What's the name of your lesson?"
              required='true'
            />
          </div>
          <div class='oa-form-group'>
            <label class='oa-form-label oa-heading-sm'></label>
            <div class='form-check'>
              <input
                class='form-check-input'
                type='checkbox'
                name='preview'
                id='preview'
                required='true'
                disabled
              />
              <label class='form-check-label' for='preview'>
                Preview
              </label>
            </div>
          </div>
          <div class='oa-form-group'>
            <label class='oa-form-label oa-heading-sm'>Video</label>
            <div class='udlite-in-udheavy'>
              <div class='ud-image-upload-preview-wrapper video-content'>
                <div class='image-upload-preview-with-crop'>
                </div>
              </div>
              <div class='mb-3'>
                <input
                  class='form-control video-content'
                  type='file'
                  name='video'
                  accept='video/*'
                  required='true'
                />
              </div>
              <progress
                id='progress'
                max='100'
                value='0'
                class='video-content'
              ></progress>
            </div>

            <div class='oa-footer-btns d-flex pb-3'>
              <button
                type='submit'
                class='save-button btn btn-primary'
                id='save-button'
              >
                <i class='fa-solid fa-floppy-disk'></i>
                <span>Add</span>
              </button>
            </div>

            <script
              src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'
            ></script>

            <script>
              const $ = document.querySelector.bind(document); const config = {
              onUploadProgress: e => { const percentUploaded =
              Math.round((e.loaded * 100) / e.total)
              $('#progress').setAttribute('value', percentUploaded); } };
              $('#form-video-create').addEventListener('submit', e => { const
              data = new FormData(e.target); axios.post(`/api/v1/instructor/{{courseSlug}}/{{sectionId}}/create-lesson`,
              data, config) });
            </script>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>