<!DOCTYPE html>

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'
      integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='icon' type='image/x-icon' href='/assets/app/oa-icon.ico' />
    <!-- TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/dsm49jwrwk55tskselw0n4xjbbppeqz3pqgzijabeg9jyrxk/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div class='container-fluid d-flex flex-row p-0' style='height: 100vh'>
      {{> instructorSidebar}}
      <button class="sidebar-toggler btn x d-flex"><i class='fa-solid fa-bars' data-feather="x"></i></button>
      <div class="content">
        {{{body}}}
      </div>
      
      </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
